<div class="main-container">
  <img src="../../assets/about.jpg" class="image-container" />
  <div class="card-position">
    <mat-card class="card-container">
      <div style="text-align: center">
        <h2>My Story</h2>
        <p>Engineer by profession, Runner by heart.❤️</p>
        <h3>Technologies</h3>
      </div>
      <ul>
        <li>Angular | React</li>
        <li>Java | Spring Boot | Microservices</li>
        <li>Jasmine/Karma | jest | Mockito | Junit</li>
        <li>Kafka, Camunda, Gitlab, Jenkins</li>
      </ul>
      <button [routerLink]="['/projects']" class="button-style">
        <span style="color: rgb(89, 119, 168)">Know More</span>
      </button>
    </mat-card>
  </div>
</div>
